*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 1160px;
    margin: auto;
}
/* header */
.head-main{
    background: url(./img/mortal-combat-fon.jpg) no-repeat;
    height: 100vh;
    background-position: center;
    background-size: cover;
}
.head-sylki{
    padding: 30px 250px 30px 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 35px;
    a{
        text-decoration: none;
        font-size: 19px;
        color: #fff;
    }
}
.head-center{
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin-top: 150px;
    .btn-logo-mtc{
        box-shadow: inset 0 0 10px black;
        width: 180px;
        height: 60px;
        font-size: 18px;
        color: #fff;
        background-color: rgb(204, 69, 19);
        border: none;
        border-radius: 30px;
        margin-left: 40%;
    }
}
/* section-center */
.sec-center{
    background: url(./img/mortal-combat-sec-center-fon.jpg) no-repeat;
    height: 100vh;
    background-position: center;
    background-size: cover;
}
@keyframes sec {
        0% {opacity: 0;}
        100% {opacity: 1;}
    }
.sec-cen-names{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 170px;
    a{
        animation: sec 3s ease-in-out forwards;
        color: #fff;
        font-size: 24px;
        margin-top: 500px;
        text-decoration: none;
    }
    /* h5{
        animation: sec 3s ease-in-out forwards;
        color: #fff;
        font-size: 30px;
        margin-top: 500px;
    } */
}
/* footer */
.foot-end{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    background: black;
    padding: 20px 20px;
    gap: 30px;
}
.foot-right{
    width: 800px;
    p{
        color: #fff;
        font-size: 12px;
    }
}